$egret = #f3ece0;
$snow-white = #f2f0eb;
$bright-white = #f4f5f0;
$cloud-dancer = #f0eee9;
$gardenia = #f1e8df;
$marshmallow = #f0eee4;
$blanc-de-blanc = #e7e9e7;
$pristine = #f2e8da;
$whisper-white = #ede6db;
$white-asparagus = #e1dbc8;
$birch = #ddd5c7;
$turtledove = #ded7c8;
$bone-white = #d7d0c0;
$silver-birch = #d2cfc4;
$vanilla-ice = #f0eada;
$papyrus = #f5edd6;
$antique-white = #ede3d2;
$winter-white = #f5ecd2;
$cloud-cream = #e6ddc5;
$angora = #dfd1bb;
$seedpearl = #e6dac4;
$vanilla-custard = #f3e0be;
$almond-oil = #f4efc1;
$alabaster-gleam = #f0debd;
$vanilla = #f4e1c1;
$rutabaga = #ecddbe;
$banana-crepe = #e7d3ad;
$italian-straw = #e7d1a1;
$whitecap-gray = #e0d5c6;
$fog = #d0c5b1;
$white-swan = #e4d7c5;
$sandshell = #d8ccbb;
$tapioca = #dccdbc;
$creme-brulee = #dbccb5;
$parchment = #dfd1be;
$sheer-pink = #f6e5db;
$dew = #eeded1;
$powder-puff = #f3e0d6;
$pearled-ivory = #f0dfcc;
$white-smoke = #eddcc9;
$ecru = #f3dfca;
$navajo = #efdcc3;
$almost-mauve = #e7dcd9;
$delicacy = #f5e3e2;
$petal-pink = #f2e2e0;
$bridal-blush = #eee2dd;
$cream-pink = #f6e4d9;
$angel-wing = #f3dfd7;
$pastel-parchment = #e5d9d3;
$star-white = #efefe8;
$lily-white = #e2e2da;
$vaporous-gray = #dfddd7;
$summer-shower = #e5ebe3;
$ice = #e0e4d9;
$frost = #dde2d6;
$icicle = #dadcd0;
$bit-of-blue = #e2eaeb;
$mystic-blue = #e1e3de;
$bluewash = #e2e6e0;
$spa-blue = #d3dedf;
$lightest-sky = #e4eadf;
$hint-of-mint = #d8e8e6;
$murmur = #d2d8d2;
$barely-blue = #dde0df;
$blue-blush = #d6dbd9;
$zephyr-blue = #d3d9d1;
$blue-flower = #d0d9d4;
$sprout-green = #cbd7d2;
$billowing-sail = #d8e7e7;
$hushed-green = #d8e9e5;
$lambs-wool = #e5d0b1;
$winter-wheat = #dfc09f;
$summer-melon = #ead3ae;
$chamomile = #e8d0a7;
$cornhusk = #f2d6ae;
$apricot-gelato = #f5d7af;
$biscotti = #dac7ab;
$asparagus-green = #d2cdb4;
$oyster-white = #d2caaf;
$putty = #d4cab0;
$moth = #d2cbaf;
$wood-ash = #d7cab0;
$gravel = #cbbfa2;
$pale-khaki = #bfaf92;
$light-gray = #dad8c9;
$silver-green = #d7d7c7;
$pelican = #c1bcac;
$overcast = #c3bdab;
$tidal-foam = #bfb9a3;
$agate-gray = #b1b09f;
$alfalfa = #b7b59f;
$castle-wall = #c8c1ab;
$oyster-gray = #cbc1ae;
$cement = #c4b6a6;
$spray-green = #aea692;
$eucalyptus = #b1a992;
$twill = #a79b82;
$olive-gray = #a6997a;
$chinchilla = #9c8e7b;
$seneca-rock = #9a927f;
$laurel-oak = #918c7e;
$coriander = #938772;
$dune = #998978;
$lead-gray = #8a7963;
$covert-green = #80765f;
$oxford-tan = #b8a99a;
$plaza-taupe = #aea393;
$tuffet = #a59788;
$silver-mink = #9f8d7c;
$timber-wolf = #8d8070;
$taupe-gray = #8e7c71;
$pine-bark = #827064;
$pumice-stone = #cac2b9;
$simply-taupe = #ad9f93;
$aluminum = #9f9586;
$cobblestone = #a89a8e;
$brindle = #82776b;
$walnut = #776a5f;
$bungee-cord = #696156;
$oatmeal = #cbc3b4;
$moonbeam = #cdc6bd;
$rainy-day = #cfc8bd;
$gray-morn = #cabeb5;
$peyote = #c5bbae;
$feather-gray = #b8ad9e;
$goat = #a89a91;
$white-sand = #dbd5d1;
$silver-gray = #c1b7b0;
$chateau-gray = #bbb1a8;
$string = #aa9f96;
$atmosphere = #a89c94;
$moon-rock = #958b84;
$fungi = #8f8177;
$silver-lining = #bdb6ab;
$moonstruck = #c2beb6;
$pussywillow-gray = #aeaca1;
$london-fog = #a29e92;
$rock-ridge = #918c86;
$moon-mist = #80817d;
$castor-gray = #646762;
$glacier-gray = #c5c6c7;
$lunar-rock = #c5c5c5;
$dawn-blue = #cacccb;
$gray-violet = #bbbcbc;
$vapor-blue = #bebdbd;
$high-rise = #aeb2b5;
$limestone = #989a98;
$silver-cloud = #beb7b0;
$dove = #b3ada7;
$flint-gray = #a09c98;
$drizzle = #a09f9c;
$elephant-skin = #8f8982;
$cinder = #8a7e78;
$steeple-gray = #827e7c;
$metal = #babfbc;
$blue-fox = #b9bcb6;
$storm-gray = #b5bab6;
$pigeon = #a9afaa;
$mirage-gray = #abafae;
$puritan-gray = #a8b0ae;
$wrought-iron = #999e98;
$opal-gray = #a49e9e;
$wild-dove = #8b8c89;
$neutral-gray = #8e918f;
$gargoyle = #686767;
$smoked-pearl = #656466;
$sedona-sage = #686d6c;
$gunmetal = #5c5d5b;
$wind-chime = #cac5c2;
$paloma = #9f9c99;
$charcoal-gray = #6c6868;
$steel-gray = #726f70;
$pewter = #666564;
$castlerock = #5f5e62;
$nine-iron = #46434a;
$ash = #a09998;
$cloudburst = #837f7f;
$frost-gray = #848283;
$excalibur = #676168;
$dark-gull-gray = #625d5d;
$rabbit = #5f575c;
$shale = #4a3f41;
$fossil = #806f63;
$major-brown = #5b5149;
$chocolate-chip = #685a4e;
$canteen = #5e5347;
$stone-gray = #685e4f;
$capers = #695e4b;
$beech = #5b4f3b;
$tarmac = #5a5348;
$wren = #4a4139;
$black-olive = #48413b;
$beluga = #4a4843;
$black-ink = #44413c;
$peat = #3b3a36;
$jet-set = #262c2a;
$iron = #736460;
$plum-kitten = #625b5c;
$turkish-coffee = #483f39;
$black-coffee = #3b302f;
$after-dark = #3c3535;
$licorice = #3a3536;
$raven = #413e3d;
$jet-black = #2d2c2f;
$phantom = #39373b;
$stretch-limo = #2b2c30;
$moonless-night = #2f2d30;
$caviar = #292a2d;
$pirate-black = #363838;
$anthracite = #28282d;
$vanilla-cream = #f4d8c6;
$dawn = #ebd2b7;
$gray-sand = #e5ccaf;
$autumn-blonde = #eed0ae;
$apricot-illusion = #e2c4a6;
$mellow-buff = #d8b998;
$sheepskin = #dab58f;
$almond-buff = #ccb390;
$beige = #d5ba98;
$sand = #cca67f;
$latte = #c5a582;
$tan = #b69574;
$doe = #b98e68;
$indian-tan = #ad8567;
$safari = #baaa91;
$candied-ginger = #bfa387;
$warm-sand = #c5ae91;
$cuban-sand = #c1a68d;
$nougat = #b69885;
$natural = #aa907d;
$nomad = #b49f89;
$frozen-dew = #d8cfb2;
$bleached-sand = #daccb4;
$pebble = #cab698;
$croissant = #c4ab86;
$incense = #af9a7e;
$cornstalk = #a9947a;
$tannin = #a68a6d;
$green-haze = #cac4a4;
$mojave-desert = #c7b595;
$taos-taupe = #bfa77f;
$lark = #b89b72;
$kelp = #988467;
$antique-bronze = #907954;
$dull-gold = #8a6f48;
$brown-sugar = #a17249;
$chipmunk = #976f4c;
$tobacco-brown = #9a7352;
$bison = #6e4f3a;
$monks-robe = #704822;
$dachshund = #704f37;
$toffee = #755139;
$aztec = #7a5747;
$cocoa-brown = #6c5043;
$partridge = #725440;
$friar-brown = #6e493a;
$mustang = #684b40;
$pinecone = #61473b;
$potting-soil = #54392d;
$ermine = #836b4f;
$otter = #7f674f;
$kangaroo = #725e43;
$sepia = #6b543e;
$coffee-liqueur = #6a513b;
$desert-palm = #5a4632;
$teak = #655341;
$shitake = #736253;
$cub = #6e5c4b;
$carafe = #5d473a;
$dark-earth = #5c4939;
$slate-black = #4b3d33;
$chocolate-brown = #4e403b;
$demitasse = #40342b;
$deep-taupe = #7b6660;
$shopping-bag = #5a4743;
$chestnut = #584039;
$bracken = #4f3f3b;
$seal-brown = #493b39;
$java = #433331;
$coffee-bean = #40312f;
$mother-of-pearl = #e9d4c3;
$pastel-rose-tan = #e9d1bf;
$novelle-peach = #e7cfbd;
$sun-kiss = #ebd1bb;
$ivory-cream = #dac0a7;
$shifting-sand = #d8c0ad;
$appleblossom = #ddbca0;
$eggnog = #ece1d3;
$cream-tan = #e4c7b8;
$sand-dollar = #decdbe;
$smoke-gray = #cebaa8;
$doeskin = #bdab9b;
$sesame = #baa38b;
$light-taupe = #b19d8d;
$warm-taupe = #af9483;
$stucco = #a58d7f;
$almondine = #a78c8b;
$chanterelle = #a28776;
$ginger-snap = #977d70;
$woodsmoke = #947764;
$amphora = #9f8672;
$moonlight = #c5b1a0;
$frappe = #d1b7a0;
$rugby-tan = #c2a594;
$roebuck = #b09080;
$praline = #ad8b75;
$burro = #947764;
$beaver-fur = #997867;
$toasted-almond = #d2b49c;
$tawny-birch = #ae856c;
$macaroon = #b38b71;
$tawny-brown = #ab856f;
$camel = #b0846a;
$toast = #ca9978;
$toasted-nut = #c08768;
$nude = #f2d3bc;
$tender-peach = #f8d5b8;
$alesan = #f1ceb3;
$pale-peach = #fed1bd;
$peach-puree = #efcfba;
$bellini = #f4c9b1;
$amberlight = #e2bea2;
$peach-dust = #f0d8cc;
$linen = #edd2c0;
$scallop-shell = #fbd8c9;
$soft-pink = #f2d8cd;
$pale-dogwood = #edcdc2;
$silver-peony = #e7cfc7;
$rose-dust = #cdb2a5;
$shell = #e1cfc6;
$whisper-pink = #dacbbe;
$pink-tint = #dbcbbd;
$evening-sand = #ddb6ab;
$sirocco = #c39d88;
$brush = #b99984;
$cafe-au-lait = #ae8774;
$cameo-rose = #d7b8ab;
$pale-blush = #e4bfb3;
$rose-cloud = #dbb0a2;
$spanish-villa = #dfbaa9;
$maple-sugar = #c9a38d;
$tuscany = #be9785;
$cork = #ba8671;
$bisque = #edcab5;
$almost-apricot = #e5b39b;
$pink-sand = #dfb19b;
$peach-nougat = #e6af91;
$peach-bloom = #d99b7c;
$dusty-coral = #d29b83;
$cafe-creme = #c79685;
$sandstorm = #bd8b69;
$butterum = #c68f65;
$biscuit = #b4835b;
$cashew = #a47149;
$almond = #a7754d;
$lion = #a0714f;
$thrush = #936b4f;
$mocha-mousse = #a47864;
$pecan-brown = #a36e51;
$hazel = #ae7250;
$bran = #a66e4a;
$adobe = #a3623b;
$leather-brown = #97572b;
$glazed-ginger = #91552b;
$sandstone = #c48a69;
$caramel = #c37c54;
$amber-brown = #a66646;
$sierra = #985c41;
$ginger-bread = #8c4a2f;
$mocha-bisque = #8c543a;
$tortoise-shell = #754734;
$pheasant = #c68463;
$sunburn = #b37256;
$raw-sienna = #b9714f;
$autumn-leaf = #b56a4c;
$mecca-orange = #bd5745;
$rust = #b55a30;
$bombay-brown = #9f5130;
$frosted-almond = #d2c2ac;
$gilded-beige = #b39f8d;
$pale-gold = #bd9865;
$rich-gold = #c8b273;
$copper = #c47e5a;
$copper-coin = #ba6b57;
$silver = #a2a2a1;
$raw-umber = #92705f;
$brownie = #8f7265;
$acorn = #7e5e52;
$clove = #876155;
$carob-brown = #855c4c;
$russet = #8f5f50;
$rawhide = #865e49;
$chutney = #98594b;
$baked-clay = #9c5642;
$copper-brown = #9a6051;
$brown-patina = #834f3d;
$rustic-brown = #855141;
$coconut-shell = #874e3c;
$sequoia = #804839;
$root-beer = #714a41;
$brunette = #664238;
$sable = #6e403c;
$cinnamon = #6b4139;
$fudgesickle = #63403a;
$mink = #734b42;
$cappuccino = #633f33;
$cognac = #8b645a;
$nutmeg = #7e5c54;
$french-roast = #58423f;
$deep-mahogany = #553b39;
$rum-raisin = #583432;
$brown-stone = #593c39;
$bitter-chocolate = #503130;
$mahogany = #824d46;
$henna = #7c423c;
$arabian-spice = #884332;
$hot-chocolate = #683b39;
$russet-brown = #743332;
$madder-brown = #6a3331;
$andorra = #603535;
$afterglow = #f3e6c9;
$transparent-yellow = #f4ecc2;
$double-cream = #f3e0ac;
$sunlight = #edd59e;
$straw = #e0c992;
$jojoba = #dabe81;
$rattan = #d1b272;
$boulder = #d1be9b;
$sea-mist = #d8c9a3;
$reed-yellow = #dcc99e;
$chino-green = #d9caa5;
$parsnip = #d6c69a;
$dusty-yellow = #d4cc9a;
$silver-fern = #bbaa7e;
$lemon-grass = #dcd494;
$raffia = #dac483;
$golden-mist = #d5cd94;
$pampas = #cfbb7b;
$bamboo = #d2b04c;
$cress-green = #bca949;
$olive-oil = #a98b2d;
$dried-moss = #ccb97e;
$celery = #cec153;
$acacia = #dacd65;
$sulphur = #ddb614;
$oil-yellow = #c4a647;
$green-sulphur = #ae8e2c;
$golden-palm = #aa8805;
$cocoon = #c9b27c;
$hemp = #c0ad7c;
$southern-moss = #bca66a;
$olivenite = #c1a65c;
$golden-green = #bdb369;
$antique-gold = #b59e5f;
$burnished-gold = #aa9855;
$french-vanilla = #efe1a7;
$pastel-yellow = #f2e6b1;
$tender-yellow = #ededb7;
$wax-yellow = #ede9ad;
$lemonade = #f0e79d;
$elfin-yellow = #eeea97;
$limelight = #f0e87d;
$dusky-citron = #e3cc81;
$muted-lime = #d1c87c;
$endive = #d2cc81;
$custard = #e5d68e;
$canary-yellow = #dfd87e;
$yellow-cream = #efdc75;
$cream-gold = #dec05f;
$aurora = #eddd59;
$green-sheen = #d9ce52;
$maize = #eec843;
$blazing-yellow = #fee715;
$buttercup = #fae03c;
$empire-yellow = #f7d000;
$lemon = #f3bf08;
$mimosa = #f0c05a;
$aspen-gold = #ffd662;
$dandelion = #ffd02e;
$vibrant-yellow = #ffda29;
$cyber-yellow = #ffd400;
$freesia = #f3c12c;
$lemon-chrome = #ffc300;
$mellow-yellow = #f0dd9d;
$pale-banana = #fae199;
$popcorn = #f8de8d;
$sunshine = #fade85;
$lemon-drop = #fdd878;
$primrose-yellow = #f6d155;
$super-lemon = #e4bf45;
$misted-yellow = #dab965;
$sauterne = #c5a253;
$honey = #ba9238;
$arrowwood = #bc8d1f;
$tawny-olive = #c4962c;
$ceylon-yellow = #d4ae40;
$lemon-curry = #cda323;
$fall-leaf = #c9a86a;
$antelope = #b19664;
$mustard-gold = #b08e51;
$harvest-gold = #b68a3a;
$nugget-gold = #c89720;
$golden-spice = #c6973f;
$golden-yellow = #cb8e16;
$ochre = #d6af66;
$tinsel = #c3964d;
$bright-gold = #cf9f52;
$honey-gold = #d1a054;
$amber-gold = #c19552;
$mineral-yellow = #d39c43;
$narcissus = #c39449;
$marzipan = #d8c09d;
$curry = #be9e6f;
$prairie-sand = #b59a6a;
$honey-mustard = #b68f52;
$wood-thrush = #a47d43;
$golden-brown = #91672f;
$bronze-brown = #825e2f;
$apple-cinnamon = #b0885a;
$bone-brown = #9d7446;
$dijon = #97754c;
$bistre = #98754a;
$medal-bronze = #977547;
$cumin = #927240;
$breen = #795d34;
$snapdragon = #fed777;
$banana-cream = #ffcf73;
$daffodil = #fdc04e;
$yolk-yellow = #e2b051;
$golden-rod = #e2a829;
$old-gold = #eca825;
$spectra-yellow = #f7b718;
$golden-haze = #fbd897;
$sahara-sun = #dfc08a;
$new-wheat = #d7b57f;
$cornsilk = #edc373;
$buff-yellow = #f1bf70;
$sunset-gold = #f7c46c;
$golden-cream = #f7b768;
$impala = #f8ce97;
$flax = #ffc87d;
$pale-marigold = #ffc66e;
$amber-yellow = #fab75a;
$amber = #efad55;
$golden-apricot = #dda758;
$beeswax = #eba851;
$banana = #fcb953;
$citrus = #f9ac2f;
$golden-glow = #d99938;
$artisans-gold = #f2ab46;
$sunflower = #d39237;
$buckthorn-brown = #a76f1f;
$cathay-spice = #99642c;
$taffy = #c39b6a;
$oak-buff = #cf9c63;
$honey-yellow = #ca9456;
$spruce-yellow = #be8a4a;
$inca-gold = #bb7a2c;
$sudan-brown = #ac6b29;
$rubber = #815b37;
$wheat = #dec5a5;
$honey-peach = #dcbd9e;
$desert-dust = #e3bc8e;
$golden-straw = #e6bd8f;
$buff = #ebc396;
$desert-mist = #e0b589;
$clay = #d2a172;
$golden-fleece = #f2d1a0;
$apricot-sherbet = #facd9e;
$sunburst = #f6c289;
$apricot-cream = #f1bd89;
$buff-orange = #ffbb7c;
$chamois = #f7b26a;
$warm-apricot = #ffb865;
$marigold = #fadc53;
$golden-nugget = #db9b59;
$butterscotch = #e19640;
$nugget = #cf8848;
$buckskin = #d18e54;
$yam = #d0893f;
$golden-oak = #be752d;
$gold-fusion = #ffb000;
$saffron = #ffa500;
$cadmium-yellow = #ee9626;
$zinnia = #ffa010;
$radiant-yellow = #fc9e21;
$apricot = #f19035;
$dark-cheddar = #e08119;
$apricot-ice = #fbbe99;
$apricot-nectar = #ecaa79;
$gold-earth = #dd9c6b;
$apricot-tan = #dd9760;
$topaz = #d08344;
$golden-ochre = #c77943;
$apricot-buff = #cd7e4d;
$peach-cobbler = #ffb181;
$salmon-buff = #feaa7b;
$pumpkin = #f5a26f;
$mock-orange = #ffa368;
$muskmelon = #ec935e;
$copper-tan = #de8e65;
$coral-gold = #d27d56;
$russet-orange = #e47127;
$orange-ochre = #dc793a;
$amberglow = #dc793e;
$jaffa-orange = #d86d39;
$apricot-orange = #c86b3c;
$burnt-orange = #c86733;
$harvest-pumpkin = #d56231;
$blazing-orange = #ffa64f;
$flame-orange = #fb8b23;
$bright-marigold = #ff8d00;
$autumn-glory = #ff8812;
$sun-orange = #f48037;
$persimmon-orange = #f47327;
$orange-popsicle = #ff7913;
$autumn-sunset = #f38554;
$tangerine = #f88f58;
$bird-of-paradise = #ff8c55;
$orange-peel = #fa7a35;
$mandarin-orange = #ec6a37;
$golden-poppy = #f56733;
$vibrant-orange = #ff7420;
$nectarine = #ff8656;
$coral-rose = #f3774d;
$carrot = #fd6f3b;
$firecracker = #f36944;
$red-orange = #f05627;
$vermillion-orange = #f9633b;
$flame = #f2552c;
$creampuff = #ffcda8;
$bleached-apricot = #fccaac;
$almond-cream = #f4c29f;
$beach-sand = #fbb995;
$cream-blush = #f8c19a;
$caramel-cream = #f4ba94;
$peach-fuzz = #ffbe98;
$prairie-sunset = #ffbb9e;
$coral-sands = #edaa86;
$apricot-wash = #fbac82;
$canyon-sunset = #e1927a;
$brandied-melon = #ce7b5b;
$carnelian = #ce785d;
$mango = #b75e41;
$peach = #f2a987;
$cantaloupe = #ffa177;
$coral-reef = #faa181;
$shell-coral = #ea9575;
$cadmium-orange = #f99471;
$melon = #fe8863;
$dusty-orange = #e27a53;
$arabesque = #d16f52;
$langoustino = #ca6c56;
$ginger = #c96551;
$flamingo = #df7253;
$orange-rust = #c25a3c;
$burnt-ochre = #bb4f35;
$chili = #be5141;
$ginger-spice = #b65d48;
$autumn-glaze = #b3573f;
$auburn = #a15843;
$picante = #8d3f2d;
$tandori-spice = #9f4440;
$cinnabar = #9c453b;
$bossa-nova = #973a36;
$tropical-peach = #ffc4b2;
$peach-parfait = #f8bfa8;
$coral-pink = #e8a798;
$dusty-pink = #deaa9b;
$muted-clay = #d29380;
$shrimp = #e29a86;
$tawny-orange = #d37f6f;
$coral-haze = #e38e84;
$canyon-clay = #ce8477;
$terra-cotta = #d38377;
$desert-sand = #bd7b74;
$light-mahogany = #ad6d68;
$cedar-wood = #a1655b;
$withered-rose = #a26666;
$rose-dawn = #c2877b;
$ash-rose = #b5817d;
$old-rose = #b47b77;
$brick-dust = #b07069;
$canyon-rose = #af6c67;
$dusty-cedar = #ad5d5d;
$marsala = #964f4c;
$apricot-brandy = #c26a5a;
$aragon = #b06455;
$hot-sauce = #ab4f41;
$bruschetta = #a75949;
$etruscan-red = #a2574b;
$redwood = #a6594c;
$burnt-brick = #a14d3a;
$faded-rose = #bf6464;
$baked-apple = #b34646;
$pompeian-red = #a4292e;
$ketchup = #9a382d;
$red-ochre = #913832;
$barn-red = #8f423b;
$burnt-henna = #7e392f;
$peach-pearl = #ffb2a5;
$peach-melba = #fbbdaf;
$apricot-blush = #feaea5;
$peach-bud = #fdb2ab;
$coral-almond = #e29d94;
$lobster-bisque = #dd9289;
$lantana = #da7e7a;
$peach-nectar = #ffb59b;
$salmon = #faaa94;
$peach-amber = #fb9f93;
$desert-flower = #ff9687;
$peach-pink = #fa9a85;
$burnt-coral = #e9897e;
$crabapple = #d77e70;
$papaya-punch = #fca289;
$fusion-coral = #ff8576;
$fresh-salmon = #ff7f6a;
$persimmon = #f67866;
$coral = #ed7464;
$living-coral = #ff6f61;
$hot-coral = #f35b53;
$shell-pink = #f88180;
$georgia-peach = #f97272;
$sugar-coral = #f56c73;
$dubarry = #f25f66;
$porcelain-rose = #ea6b6a;
$spiced-coral = #d75c5d;
$deep-sea-coral = #d9615b;
$rose-of-sharon = #dc5b62;
$cayenne = #e04951;
$hibiscus = #dd3848;
$poinsettia = #cb3441;
$chrysanthemum = #be454f;
$cranberry = #bb4a4d;
$cardinal = #ad3e48;
$tigerlily = #e2583e;
$grenadine = #df3f32;
$mandarin-red = #e74a33;
$fiesta = #dd4132;
$cherry-tomato = #eb3c27;
$orange-com = #da321c;
$spicy-orange = #d73c26;
$camellia = #f6745f;
$nasturtium = #fe6347;
$emberglow = #ea6759;
$burnt-sienna = #c65d52;
$paprika = #ce4d42;
$red-clay = #c2452d;
$molten-lava = #b5332e;
$bittersweet = #d93744;
$poppy-red = #dc343b;
$tomato = #ce2939;
$fiery-red = #d01c1f;
$flame-scarlet = #cd212a;
$high-risk-red = #c71f2d;
$aurora-red = #b93a32;
$rococco-red = #bb363f;
$tomato-puree = #c53346;
$lollipop = #cc1c3b;
$ski-patrol = #bb1237;
$scarlet = #bc2b3d;
$lipstick-red = #b31a38;
$crimson = #ae0e36;
$racing-red = #bd162c;
$mars-red = #bc2731;
$tango-red = #ac0e2e;
$chinese-red = #be132d;
$ribbon-red = #b92636;
$true-red = #bf1932;
$chili-pepper = #9b1b30;
$quartz-pink = #efa6aa;
$pink-icing = #eea0a6;
$blossom = #f2b2ae;
$peaches-n-cream = #f4a6a3;
$candlelight-peach = #f8a39d;
$strawberry-ice = #e78b90;
$peach-blossom = #de8286;
$flamingo-pink = #f7969e;
$confetti = #e6798e;
$bubblegum = #ea738d;
$pink-lemonade = #ee6d8a;
$camellia-rose = #eb6081;
$rapture-rose = #d16277;
$desert-rose = #cf6977;
$geranium-pink = #f6909d;
$conch-shell = #fc8f9b;
$salmon-rose = #ff8d94;
$strawberry-pink = #f57f8e;
$sunkist-coral = #ea6676;
$calypso-coral = #ee5c6c;
$tea-rose = #dc7178;
$geranium = #da3d58;
$paradise-pink = #e4445e;
$teaberry = #dc3855;
$rouge-red = #e24666;
$raspberry = #d32e5e;
$azalea = #d42e5b;
$virtual-pink = #c6174e;
$claret-red = #c84c61;
$raspberry-wine = #b63753;
$rose-red = #c92351;
$barberry = #bf1945;
$bright-rose = #c51959;
$persian-red = #a21441;
$cerise = #a41247;
$pink-lady = #efc1d6;
$lilac-sachet = #e9adca;
$prism-pink = #f0a1bf;
$begonia-pink = #ec9abe;
$fuchsia-pink = #df88b7;
$rosebloom = #e290b2;
$ibis-rose = #ca628f;
$sachet-pink = #f18aad;
$wild-orchid = #d979a2;
$aurora-pink = #e881a6;
$chateau-rose = #d2738f;
$morning-glory = #ee819f;
$azalea-pink = #e96a97;
$shocking-pink = #de5b8c;
$hot-pink = #e55982;
$fandango-pink = #e04f80;
$honeysuckle = #d94f70;
$raspberry-sorbet = #d2386c;
$carmine = #bc4869;
$fuchsia-rose = #c74375;
$beetroot-purple = #cf2d71;
$pink-carnation = #ed7a9e;
$carmine-rose = #e35b8f;
$magenta = #d23c77;
$pink-flambe = #d3507a;
$fuchsia-purple = #d33479;
$lilac-rose = #bd4275;
$very-berry = #b73275;
$super-pink = #ce6ba4;
$phlox-pink = #ce5e9a;
$raspberry-rose = #cc4385;
$rose-violet = #c0428a;
$fuchsia-red = #ab3475;
$cactus-flower = #a83e6c;
$magenta-haze = #9d446e;
$shrinking-violet = #f4e1e6;
$primrose-pink = #eed4d9;
$silver-pink = #dcb1af;
$powder-pink = #ecb2b3;
$mauveglow = #d18489;
$brandied-apricot = #ca848a;
$dusty-rose = #ba797d;
$mauve-morn = #ecd6d6;
$mauve-chalk = #e5d0cf;
$pearl = #f9dbd8;
$bridal-rose = #d69fa2;
$blush = #d1969a;
$baroque-rose = #b35a66;
$slate-rose = #b45865;
$mineral-red = #b35457;
$garnet-rose = #ac4b55;
$holly-berry = #b44e5d;
$american-beauty = #a73340;
$jester-red = #9e1030;
$rio-red = #8a2232;
$rumba-red = #7c2439;
$earth-red = #95424e;
$deep-claret = #973443;
$garnet = #953640;
$brick-red = #8c373e;
$rosewood = #813639;
$tibetan-red = #782a39;
$biking-red = #77212e;
$apple-butter = #844b4d;
$oxblood-red = #70393f;
$cowhide = #884344;
$burnt-russet = #7e3940;
$ruby-wine = #77333b;
$cordovan = #702f3b;
$tawny-port = #5c2c35;
$creole-pink = #f7d5cc;
$peach-blush = #e4ccc6;
$cloud-pink = #f5d1c8;
$veiled-rose = #f8cdc9;
$pearl-blush = #f4cec5;
$english-rose = #f4c6c3;
$lotus = #e2c1c0;
$rosewater = #f6dbd8;
$peach-whip = #dbbeb7;
$rose-smoke = #d3b4ad;
$coral-cloud = #e2a9a1;
$misty-rose = #caa39a;
$peach-beige = #d3a297;
$cameo-brown = #c08a80;
$seashell-pink = #f7c8c2;
$chintz-rose = #eec4be;
$impatiens-pink = #ffc4bc;
$peachskin = #dfb8b6;
$mellow-rose = #d9a6a1;
$rose-tan = #d19c97;
$rosette = #ce8e8b;
$mauvewood = #a75d67;
$rose-wine = #a4596d;
$malaga = #9f5069;
$dry-rose = #8c4759;
$hawthorn-rose = #884c5e;
$maroon = #834655;
$wild-ginger = #7c4c53;
$sangria = #982551;
$red-bud = #962d49;
$beaujolais = #80304c;
$anemone = #842c48;
$beet-red = #7a1f3d;
$red-plum = #7c2946;
$rhododendron = #722b3f;
$barely-pink = #f8d7dd;
$blushing-bride = #fbd3d9;
$cradle-pink = #edd0dd;
$pale-lilac = #e1c6cc;
$chalk-pink = #e6c5ca;
$light-lilac = #dec6d3;
$pink-nectar = #d8aab7;
$heavenly-pink = #f4dede;
$potpourri = #e7c9ca;
$crystal-pink = #edd0ce;
$pink-dogwood = #f7d1d1;
$crystal-rose = #fdc3c6;
$strawberry-cream = #f4c3c4;
$gossamer-pink = #fac8c3;
$rose-shadow = #f9c2cd;
$orchid-pink = #f3bbca;
$almond-blossom = #f5bec7;
$coral-blush = #e6b2b8;
$candy-pink = #f5b0bd;
$peony = #ed9ca8;
$sea-pink = #de98ab;
$cashmere-rose = #ce879f;
$wild-rose = #ce8498;
$orchid-smoke = #d294aa;
$polignac = #c28799;
$lilas = #b88995;
$mauve-orchid = #b58299;
$orchid-haze = #b0879b;
$parfait-pink = #e9c3cf;
$pink-mist = #e6bccd;
$cameo-pink = #dba9b8;
$sweet-lilac = #e8b5ce;
$pink-lavender = #d9afca;
$pastel-lavender = #d8a1c4;
$orchid = #d198c5;
$lilac-chiffon = #de9bc4;
$moonlite-mauve = #d28fb0;
$cyclamen = #d687ba;
$opera-mauve = #ca80b1;
$crocus = #c67fae;
$mulberry = #a76c97;
$striking-purple = #944e87;
$violet = #c17fb5;
$iris-orchid = #a767a2;
$radiant-orchid = #ad5e99;
$spring-crocus = #ba69a1;
$meadow-mauve = #a9568c;
$amethyst = #864d75;
$magenta-purple = #6b264b;
$rosebud = #b65f9a;
$purple-orchid = #ad4d8c;
$festival-fuchsia = #9e2c6a;
$baton-rouge = #973c6c;
$boysenberry = #85325c;
$raspberry-radiance = #802a50;
$purple-potion = #692746;
$dahlia-mauve = #a64f82;
$vivid-viola = #993c7c;
$wild-aster = #92316f;
$deep-orchid = #903f75;
$clover = #8a3371;
$purple-wine = #8c3573;
$hollyhock = #823270;
$hyacinth-violet = #8d4687;
$dahlia = #843e83;
$sparkling-grape = #773376;
$byzantium = #853b7b;
$phlox = #692d5d;
$grape-juice = #682961;
$gloxinia = #622e5a;
$crystal-gray = #d7cbc4;
$mushroom = #bdaca3;
$shadow-gray = #bba5a0;
$sphinx = #ab9895;
$bark = #a99592;
$fawn = #ae9490;
$adobe-rose = #ba9f99;
$pale-mauve = #c6a4a4;
$woodrose = #ae8c8e;
$deauville-mauve = #af9294;
$twilight-mauve = #8b6f70;
$rose-taupe = #806062;
$rose-brown = #80565b;
$roan-rouge = #885157;
$antler = #957a76;
$peppercorn = #6c5656;
$raisin = #524144;
$huckleberry = #5b4349;
$catawba-grape = #5d3c43;
$puce = #503938;
$fudge = #493338;
$mahogany-rose = #c5a193;
$burlwood = #9b716b;
$marron = #6e4c4b;
$decadent-chocolate = #513235;
$red-mahogany = #60373d;
$vineyard-wine = #58363d;
$winetasting = #492a34;
$port = #663336;
$chocolate-truffle = #612e35;
$burgundy = #64313e;
$zinfandel = #5c2935;
$windsor-wine = #582b36;
$port-royale = #502b33;
$fig = #532d3b;
$violet-ice = #c2acb1;
$burnished-lilac = #c5aeb1;
$keepsake-lilac = #c0a5ae;
$mauve-shadows = #b598a3;
$dawn-pink = #bfa3af;
$fragrant-lilac = #ceadbe;
$mauve-mist = #c49bd4;
$heather-rose = #ad6d7f;
$red-violet = #a35776;
$mellow-mauve = #996378;
$bordeaux = #96637b;
$violet-quartz = #8b4963;
$damson = #854c65;
$amaranth = #6f3c56;
$zephyr = #c89fa5;
$dusky-orchid = #9a7182;
$grape-shake = #886971;
$wistful-mauve = #946c74;
$tulipwood = #805466;
$grape-nectar = #8d5c74;
$argyle-purple = #895c79;
$nostalgia-rose = #a4777e;
$deco-rose = #985f68;
$renaissance-rose = #865560;
$nocturne = #7a4b56;
$crushed-berry = #804f5a;
$crushed-violets = #643a4c;
$mauve-wine = #5b3644;
$plum-wine = #674550;
$eggplant = #613f4c;
$prune = #603749;
$prune-purple = #5c3a4d;
$grape-wine = #5a2f43;
$italian-plum = #533146;
$potent-purple = #462639;
$lavender-herb = #b18eaa;
$lavender-mist = #ae90a7;
$valerian = #9f7a93;
$very-grape = #927288;
$grapeade = #85677b;
$purple-gumdrop = #7a596f;
$berry-conserve = #765269;
$chinese-violet = #835e81;
$crushed-grape = #7a547f;
$concord-grape = #7c5379;
$sunset-purple = #6f456e;
$wood-violet = #75406a;
$purple-passion = #683d62;
$dark-purple = #582147;
$grape-jam = #725671;
$deep-purple = #50314c;
$wineberry = #5a395b;
$grape-royale = #4f2d54;
$plum-purple = #51304e;
$hortensia = #553b50;
$blackberry-wine = #4d3246;
$navy-cosmos = #503b53;
$indigo = #4c3957;
$purple-pennant = #432c47;
$plum-perfect = #473442;
$sweet-grape = #4b3b4f;
$shadow-purple = #4e334e;
$blackberry-cordial = #3f2a47;
$purple-reign = #56456b;
$mulberry-purple = #493c62;
$gothic-grape = #473951;
$grape = #433455;
$mysterioso = #46394b;
$purple-velvet = #41354d;
$nightshade = #433748;
$orchid-tint = #dbd2db;
$lilac-ash = #d7cdcd;
$gray-lilac = #d4cacd;
$hushed-violet = #d1c0bf;
$cloud-gray = #b7a9ac;
$quail = #98868c;
$nirvana = #a2919b;
$orchid-hush = #cec3d2;
$iris = #baafbc;
$sea-fog = #a5929d;
$elderberry = #9d848e;
$black-plum = #6c5765;
$flint = #705861;
$sassafras = #54353b;
$evening-haze = #bdb8c7;
$thistle = #b9b3c5;
$lavender-gray = #9890a2;
$minimal-gray = #948d99;
$purple-ash = #8f8395;
$gray-ridge = #847986;
$purple-sage = #75697e;
$heirloom-lilac = #9d96b2;
$wisteria = #a198af;
$dusk = #897f98;
$daybreak = #8981a0;
$cadet = #6a6378;
$mulled-grape = #675a74;
$purple-plumeria = #473854;
$lilac-marble = #c3babf;
$ashes-of-roses = #b5acab;
$gull-gray = #a49ca0;
$zinc = #92898a;
$gull = #918c8f;
$shark = #6d636b;
$sparrow = #69595c;
$orchid-ice = #e0d0db;
$lilac-snow = #e0c7d7;
$winsome-orchid = #d4b9cb;
$fair-orchid = #c0aac0;
$lavender-frost = #bdabbe;
$orchid-petal = #bfb4cb;
$pastel-lilac = #bdb0d0;
$orchid-bloom = #c5aecf;
$orchid-bouquet = #d1acce;
$lupine = #be9cc1;
$violet-tulle = #c193c0;
$sheer-lilac = #b793c0;
$african-violet = #b085b7;
$dusty-lavender = #a1759c;
$paisley-purple = #8b79b1;
$hyacinth = #936ca7;
$amethyst-orchid = #926aa6;
$dewberry = #8b5987;
$purple-heart = #745587;
$meadow-violet = #764f82;
$royal-purple = #603f83;
$deep-lavender = #775496;
$royal-lilac = #774d8e;
$pansy = #653d7c;
$bright-violet = #784384;
$amaranth-purple = #6a397b;
$purple-magic = #663271;
$plum = #5a315d;
$imperial-palace = #604e7a;
$patrician-purple = #6c4e79;
$loganberry = #5a4769;
$majesty = #593761;
$imperial-purple = #542c5d;
$crown-jewel = #482d54;
$parachute-purple = #392852;
$lavender-fog = #d2c4d6;
$lavendula = #bca4cb;
$lavender = #afa4ce;
$bougainvillea = #9884b9;
$violet-tulip = #9e91c3;
$chalk-violet = #8f7da5;
$purple-haze = #807396;
$smoky-grape = #b88aac;
$regal-orchid = #a98baf;
$viola = #a692ba;
$orchid-mist = #917798;
$grape-compote = #6b5876;
$montana-grape = #6c5971;
$vintage-violet = #634f62;
$aster-purple = #7d74a8;
$dahlia-purple = #7e6eac;
$passion-flower = #6d5698;
$ultra-violet = #5f4b8b;
$prism-violet = #53357d;
$heliotrope = #4f3872;
$petunia = #4f3466;
$corsican-blue = #646093;
$veronica = #6d6695;
$blue-iris = #5a5b9f;
$purple-opulence = #60569a;
$gentian-violet = #544275;
$liberty = #4d448a;
$deep-blue = #44377d;
$bleached-denim = #646f9b;
$heron = #62617e;
$skipper-blue = #484a72;
$navy-blue = #403f6f;
$deep-wisteria = #443f6f;
$blue-ribbon = #3a395f;
$astral-aura = #363151;
$lilac-hint = #d0d0da;
$misty-lilac = #bcb4c4;
$lavender-blue = #c5c0d0;
$purple-heather = #bab8d3;
$cosmic-sky = #aaaac4;
$languid-lavender = #a2a1ba;
$dapple-gray = #9c9ba7;
$sweet-lavender = #9a9bc1;
$easter-egg = #919bc9;
$jacaranda = #848dc5;
$deep-periwinkle = #7c83bc;
$dusted-peri = #696ba0;
$violet-storm = #5c619d;
$baja-blue = #5f6db0;
$thistle-down = #9499bb;
$persian-violet = #8c8eb2;
$twilight-purple = #66648b;
$orient-blue = #47457a;
$clematis-blue = #363b7c;
$royal-blue = #3d428b;
$spectrum-blue = #3d3c7c;
$lavender-violet = #767ba5;
$blue-ice = #70789b;
$velvet-morning = #60688d;
$marlin = #515b87;
$blueprint = #2d3359;
$blue-depths = #263056;
$medieval-blue = #29304e;
$lavender-aura = #9f99aa;
$stonewash = #74809a;
$nightshadow-blue = #4e5368;
$blue-indigo = #49516d;
$graystone = #4d495b;
$crown-blue = #464b65;
$deep-cobalt = #404466;
$arctic-ice = #bfc7d6;
$gray-dawn = #bbc1cc;
$heather = #b7c0d6;
$eventide = #959eb7;
$silver-lake-blue = #618bb9;
$blue-bonnet = #6384b8;
$blue-yonder = #5a77a8;
$lavender-lustre = #8c9cc1;
$purple-impression = #858fb1;
$grapemist = #8398ca;
$vista-blue = #81a0d4;
$cornflower-blue = #7391c8;
$persian-jewel = #6e81be;
$wedgewood = #6479b3;
$skyway = #adbed3;
$cashmere-blue = #a5b8d0;
$blue-bell = #93b4d7;
$placid-blue = #8cadd3;
$della-robbia-blue = #7a9dcb;
$provence = #658dc6;
$ultramarine = #5b7ebd;
$allure = #7291b4;
$colony-blue = #65769a;
$moonlight-blue = #506886;
$dutch-blue = #4a638d;
$delft = #3d5e8c;
$limoges = #243f6c;
$estate-blue = #233658;
$infinity = #6e7e99;
$bijou-blue = #4e5e7f;
$coastal-fjord = #505d7e;
$true-navy = #3f5277;
$ensign-blue = #384c67;
$dark-denim = #35465e;
$insignia-blue = #2f3e55;
$air-blue = #77acc7;
$heritage-blue = #5d96bc;
$ethereal-blue = #5ca6ce;
$bonnie-blue = #539ccc;
$cendre-blue = #3e7fa5;
$parisian-blue = #4f7ca4;
$faience = #2a6a8b;
$alaskan-blue = #6da9d2;
$little-boy-blue = #6ea2d5;
$azure-blue = #4d91c6;
$riviera = #5879a2;
$federal-blue = #43628b;
$star-sapphire = #386192;
$bright-cobalt = #385d8d;
$dusk-blue = #7ba0c0;
$regatta = #487ab7;
$palace-blue = #346cb0;
$strong-blue = #1f5da0;
$turkish-sea = #195190;
$olympian-blue = #1a4c8b;
$classic-blue = #0f4c81;
$marina = #4f84c4;
$campanula = #3272af;
$daphne = #0f5f9a;
$victoria-blue = #08589d;
$snorkel-blue = #034f84;
$nautical-blue = #1a5091;
$princess-blue = #00539c;
$dazzling-blue = #3850a0;
$amparo-blue = #4960a8;
$deep-ultramarine = #384883;
$surf-the-web = #203c7f;
$mazarine-blue = #273c76;
$true-blue = #1e4477;
$twilight-blue = #313d64;
$kentucky-blue = #a5b3cc;
$cerulean = #9bb7d4;
$powder-blue = #96b3d2;
$forever-blue = #899bb8;
$tempest = #79839b;
$country-blue = #717f9b;
$english-manor = #7181a4;
$illusion-blue = #c9d3dc;
$ballad-blue = #c0ceda;
$baby-blue = #b5c7d3;
$celestial-blue = #a3b4c4;
$blue-fog = #9babbb;
$flint-stone = #677283;
$folkstone-gray = #626879;
$pearl-blue = #b0b7be;
$monument = #84898c;
$dark-slate = #46515a;
$midnight-navy = #34414e;
$total-eclipse = #2c313d;
$blue-graphite = #323137;
$dark-navy = #232f36;
$ice-flow = #c6d2d2;
$quarry = #98a0a5;
$griffin = #8d8f8f;
$dark-shadow = #4a4b4d;
$ombre-blue = #434854;
$india-ink = #3c3f4a;
$ebony = #41424a;
$patriot-blue = #363756;
$eclipse = #343148;
$mood-indigo = #353a4c;
$peacoat = #2b2e43;
$black-iris = #2b3042;
$dress-blues = #2a3244;
$blue-nights = #363b48;
$angel-falls = #a3bdd3;
$dream-blue = #a0bcd0;
$ashley-blue = #8699ab;
$dusty-blue = #8c9dad;
$indian-teal = #3c586b;
$stargazer = #39505c;
$orion-blue = #3e4f5c;
$forget-me-not = #8fadbd;
$faded-denim = #798ea4;
$blue-shadow = #66829a;
$coronet-blue = #59728e;
$captains-blue = #557088;
$copen-blue = #516b84;
$china-blue = #546477;
$adriatic-blue = #5c899b;
$provincial-blue = #5c798e;
$niagara = #5487a4;
$blue-heaven = #5b7e98;
$stellar = #46647e;
$real-teal = #405d73;
$majolica-blue = #274357;
$starlight-blue = #b5ced4;
$winter-sky = #a9c0cb;
$stratosphere = #9ec1cc;
$sterling-blue = #a2b9c2;
$arona = #879ba3;
$citadel = #748995;
$blue-mirage = #5c6d7c;
$cloud-blue = #a2b6b9;
$ether = #9eb6b8;
$cameo-blue = #769da6;
$stone-blue = #829ca5;
$tourmaline = #86a1a9;
$smoke-blue = #6d8994;
$bluestone = #577284;
$aquamarine = #9dc3d4;
$sky-blue = #8abad3;
$milky-blue = #72a8ba;
$blue-grotto = #5cacce;
$norse-blue = #4ca5c7;
$aquarius = #3cadd4;
$maui-blue = #52a2b4;
$blue-mist = #5bacc3;
$river-blue = #38afcd;
$cyan-blue = #14a3c7;
$horizon-blue = #289dbe;
$blue-moon = #3686a0;
$bluejay = #157ea0;
$mediterranean-blue = #1478a7;
$bachelor-button = #4abbd5;
$blue-atoll = #00b1d2;
$vivid-blue = #0088b0;
$hawaiian-ocean = #008db9;
$blue-danube = #0087b6;
$blue-jewel = #007baa;
$methyl-blue = #0074a8;
$malibu-blue = #008cc1;
$blithe = #0084bd;
$swedish-blue = #007eb1;
$dresden-blue = #0086bb;
$diva-blue = #007bb2;
$blue-aster = #0077b3;
$cloisonne = #0075af;
$french-blue = #0072b5;
$brilliant-blue = #0075b3;
$directoire-blue = #0061a3;
$skydiver = #00589b;
$imperial-blue = #005a92;
$deep-water = #266691;
$dark-blue = #305679;
$pastel-blue = #bcd3d5;
$clearwater = #aad5db;
$blue-glow = #b2d4dd;
$plume = #a5cfd5;
$porcelain-blue = #95c0cb;
$crystal-blue = #a1c8db;
$petit-four = #87c2d4;
$wan-blue = #cbdcdf;
$whispering-blue = #c9dcdc;
$skylight = #c8e0e0;
$aquatic = #99c1cc;
$marine-blue = #76afb6;
$reef-waters = #6f9fa9;
$arctic = #648589;
$chalk-blue = #ccdad7;
$pale-blue = #c4d6d3;
$misty-blue = #bfcdcc;
$sky-gray = #bcc8c6;
$surf-spray = #b4c8c2;
$gray-mist = #99aeae;
$aquifer = #89acac;
$blue-glass = #c6e3e1;
$icy-morn = #b0d3d1;
$canal-blue = #9cc2c5;
$pastel-turquoise = #99c5c4;
$aqua-haze = #87b9bc;
$aqua-sea = #6baaae;
$meadowbrook = #60a0a3;
$glacier = #c3dbd4;
$fair-aqua = #b8e2dc;
$soothing-sea = #c3e9e4;
$bleached-aqua = #bce3df;
$blue-light = #acdfdd;
$blue-tint = #9fd9d7;
$aqua-sky = #7bc4c4;
$morning-mist = #cfdfdb;
$harbor-gray = #a8c0bb;
$eggshell-blue = #a3ccc9;
$dusty-turquoise = #649b9e;
$porcelain = #5d9ca4;
$brittany-blue = #4c7e86;
$hydro = #426972;
$blue-haze = #a5bcbb;
$nile-blue = #76a7ab;
$mineral-blue = #6d9192;
$bristol-blue = #558f91;
$teal = #478589;
$blue-spruce = #486b67;
$sagebrush-green = #567572;
$green-milieu = #8a9992;
$jadeite = #95a69f;
$blue-surf = #90a8a4;
$oil-blue = #658c88;
$trellis = #6a8988;
$north-atlantic = #536d70;
$sea-pine = #4c6969;
$slate = #8c9fa1;
$silver-blue = #8a9a9a;
$abyss = #8f9e9d;
$lead = #7a898f;
$stormy-sea = #6e8082;
$trooper = #697a7e;
$goblin-blue = #5f7278;
$slate-gray = #8a9691;
$chinois-green = #7c8c87;
$dark-forest = #556962;
$balsam-green = #576664;
$beetle = #55584c;
$urban-chic = #464e4d;
$darkest-spruce = #303d3c;
$mallard-blue = #3a5c6e;
$celestial = #006380;
$saxony-blue = #1f6680;
$lyons-blue = #005871;
$ink-blue = #0b5369;
$corsair = #18576c;
$legion-blue = #1f495b;
$aegean-blue = #4e6e81;
$bluesteel = #35637c;
$blue-ashes = #3b5f78;
$midnight = #325b74;
$blue-sapphire = #09577b;
$seaport = #005e7d;
$moroccan-blue = #0f4e67;
$ocean-depths = #006175;
$blue-coral = #1b5366;
$dragonfly = #2a5c6a;
$pacific = #1f595c;
$balsam = #33565e;
$mediterranea = #32575d;
$atlantic-deep = #274e55;
$aqua = #64a1ad;
$stillwater = #70a4b0;
$delphinium-blue = #6198ae;
$larkspur = #3c7d90;
$storm-blue = #47788a;
$tapestry = #436573;
$colonial-blue = #2d6471;
$peacock-blue = #00a0b0;
$capri-breeze = #008799;
$algiers-blue = #00859c;
$caneel-bay = #00849f;
$caribbean-sea = #00819d;
$mosaic-blue = #00758f;
$turkish-tile = #00698b;
$angel-blue = #83c5cd;
$blue-radiance = #58c9d4;
$capri = #44bbca;
$blue-curacao = #32becc;
$scuba-blue = #00abc0;
$bluebird = #009dae;
$enamel-blue = #007a8e;
$pool-blue = #67bcb3;
$blue-turquoise = #53b0ae;
$baltic = #279d9f;
$lake-blue = #008c96;
$tile-blue = #008491;
$pagoda-blue = #1a7f8e;
$biscay-bay = #097988;
$aruba-blue = #81d7d3;
$ceramic = #00aaa9;
$viridian-green = #009499;
$tropical-green = #008786;
$navigate = #008583;
$deep-peacock-blue = #008381;
$lapis = #008684;
$turquoise = #45b5aa;
$waterfall = #3ab0a2;
$lagoon = #4d9e9a;
$bright-aqua = #30a299;
$porcelain-green = #108780;
$blue-grass = #007c7a;
$fanfare = #006d70;
$atlantis = #00af9f;
$pool-green = #00af9d;
$dynasty-green = #008e80;
$spectra-green = #009b8c;
$columbia = #009288;
$teal-blue = #007f7c;
$parasailing = #00736c;
$wasabi = #73a89e;
$beryl-green = #619187;
$deep-sea = #4f7c74;
$bottle-green = #427d6d;
$galapagos-green = #29685f;
$antique-green = #29675c;
$storm = #035453;
$marine-green = #40a48e;
$sea-green = #149c88;
$greenlake = #007d69;
$tidepool = #0a6f69;
$ivy = #226c63;
$cadmium-green = #00675b;
$alpine-green = #005f56;
$canton = #6da29e;
$agate-green = #599f99;
$sea-blue = #549f98;
$latigo-bay = #379190;
$green-blue-slate = #358082;
$bayou = #20706f;
$north-sea = #316c6b;
$deep-jungle = #36716f;
$everglade = #005b5d;
$teal-green = #006361;
$harbor-blue = #00656e;
$deep-lake = #00656b;
$shaded-spruce = #00585e;
$deep-teal = #18454b;
$silver-pine = #4e6866;
$mallard-green = #405e5c;
$bistro-green = #395551;
$jasper = #335959;
$bayberry = #255958;
$june-bug = #264a48;
$ponderosa-pine = #203b3d;
$aqua-glass = #d2e8e0;
$opal-blue = #c3ddd6;
$dusty-aqua = #c0dccd;
$ocean-wave = #8ec5b6;
$holiday = #81c3b4;
$cascade = #76c1b2;
$dusty-jade-green = #7bb5a3;
$honeydew = #bae1d3;
$brook-green = #afddcc;
$cabbage = #87d7be;
$beveled-glass = #7accb8;
$opal = #77cfb7;
$biscay-green = #55c6a9;
$spearmint = #64bfa4;
$moonlight-jade = #c7e5df;
$bay = #bae5d6;
$yucca = #a1d7c9;
$beach-glass = #96dfce;
$ice-green = #87d8c3;
$cockatoo = #58c8b6;
$florida-keys = #56beab;
$bermuda = #60c9b3;
$electric-green = #4bc3a8;
$aqua-green = #00b89f;
$billiard = #00aa92;
$arcadia = #00a28a;
$alhambra = #008778;
$deep-green = #009276;
$mint-leaf = #00b694;
$peacock-green = #00a78b;
$vivid-green = #009e82;
$emerald = #009473;
$viridis = #00846b;
$shady-glade = #006e5b;
$ultramarine-green = #006b54;
$silt-green = #a9bdb1;
$frosty-green = #a3b5a6;
$iceberg-green = #8c9c92;
$granite-green = #86a293;
$green-bay = #7e9285;
$lily-pad = #818f84;
$laurel-wreath = #616f65;
$green-spruce = #589f7e;
$comfrey = #5b7961;
$dark-ivy = #5b7763;
$foliage-green = #3e6f58;
$myrtle = #4f6b58;
$posy-green = #325b51;
$pineneedle = #334d41;
$sea-spray = #717e6f;
$duck-green = #53665c;
$frosty-spruce = #578270;
$fir = #3a725f;
$evergreen = #11574a;
$hunter-green = #335749;
$dark-green = #314f40;
$feldspar = #729b8b;
$smoke-pine = #3e6257;
$trekking-green = #355048;
$garden-topiary = #3e524b;
$jungle-green = #3c4e47;
$sycamore = #35463d;
$green-gables = #324241;
$vetiver = #807d6f;
$deep-lichen-green = #6e6e5c;
$thyme = #50574c;
$kombu-green = #3a4032;
$deep-forest = #37413a;
$forest-night = #434237;
$rosin = #36362d;
$celadon = #b8ccba;
$pale-aqua = #c1ccc2;
$smoke = #bfc8c3;
$foggy-dew = #d1d5d0;
$mercury = #bac2ba;
$mineral-gray = #b2b6ac;
$aqua-gray = #a5b2aa;
$fairest-jade = #d8e3d7;
$water-lily = #dde3d5;
$canary-green = #d6dec9;
$almost-aqua = #cad3c1;
$green-tint = #c5ccc0;
$sea-foam = #b7c2b2;
$desert-sage = #a7ae9e;
$whisper-green = #e0e6d7;
$celadon-tint = #cbcebe;
$dewkist = #c4d1c2;
$green-lily = #c1cec1;
$cameo-green = #aac0ad;
$seagrass = #959889;
$shadow = #888d82;
$clearly-aqua = #cee1d4;
$misty-jade = #bcd9c8;
$subtle-green = #b5cbbb;
$aqua-foam = #adc3b4;
$gossamer-green = #b2cfbe;
$lichen = #9bc2b1;
$grayed-jade = #9bbea9;
$milky-green = #cfdbd1;
$phantom-green = #dce4d7;
$mist-green = #aacebc;
$birds-egg-green = #aaccb9;
$bok-choy = #bccab3;
$smoke-green = #a8bba2;
$malachite-green = #709a89;
$mistletoe = #8aa282;
$basil = #879f84;
$mineral-green = #7a9b78;
$green-eyes = #7d956d;
$turf-green = #6f8c69;
$watercress = #748c69;
$elm-green = #547053;
$hedge-green = #768a75;
$loden-frost = #788f74;
$shale-green = #739072;
$kashmir = #6f8d6a;
$stone-green = #658e67;
$english-ivy = #61845b;
$deep-grass-green = #558367;
$piquant-green = #769358;
$forest-green = #6b8d53;
$fluorite-green = #699158;
$cactus = #53713d;
$garden-green = #495e35;
$artichoke-green = #4b6d41;
$willow-bough = #59754d;
$aspen-green = #7e9b76;
$medium-green = #3c824e;
$juniper = #3d7245;
$fairway = #477050;
$vineyard-green = #5f7355;
$dill = #6f7755;
$greener-pastures = #37503d;
$four-leaf-clover = #616652;
$bronze-green = #525f48;
$chive = #4a5335;
$cypress = #545a3e;
$black-forest = #414f3c;
$rifle-green = #414832;
$duffel-bag = #394034;
$ambrosia = #d2e7ca;
$spray = #bed3bb;
$pastel-green = #b4d3b2;
$hemlock = #97c1a1;
$sprucestone = #9fc09c;
$meadow = #8bba94;
$jadesheen = #77a276;
$green-ash = #a0daa9;
$greengage = #8bc28c;
$ming = #7cb08a;
$zephyr-green = #7cb083;
$peapod = #82b185;
$light-grass-green = #7cb68e;
$absinthe-green = #76b583;
$neptune-green = #7fbb9e;
$creme-de-menthe = #70a38d;
$winter-green = #4f9e81;
$gumdrop-green = #2ea785;
$holly-green = #0f9d76;
$parakeet = #008c69;
$golf-green = #008763;
$spring-bud = #6bcd9c;
$katydid = #66bc91;
$jade-cream = #60b892;
$ming-green = #3aa278;
$greenbriar = #4b9b69;
$leprechaun = #378661;
$pine-green = #3a795e;
$blarney = #00a776;
$mint = #00a170;
$deep-mint = #009e6d;
$simply-green = #009b75;
$pepper-green = #007d60;
$bosphorus = #007558;
$verdant-green = #12674a;
$seacrest = #bfd1b3;
$gleam = #bfd1ad;
$nile-green = #a7c796;
$quiet-green = #9ebc97;
$fair-green = #92af88;
$forest-shade = #91ac80;
$jade-green = #759465;
$patina-green = #b9eab3;
$pistachio-green = #a9d39e;
$arcadian-green = #a3c893;
$grass-green = #7bb369;
$bud-green = #79b465;
$green-tea = #86a96f;
$tendril = #89a06b;
$paradise-green = #b2e79f;
$lime-green = #9fc131;
$jasmine-green = #7ec845;
$green-flash = #79c753;
$classic-green = #39a845;
$online-lime = #44883c;
$treetop = #476a30;
$summer-green = #7ed37f;
$spring-bouquet = #6dce87;
$island-green = #2bae66;
$irish-green = #45be76;
$shamrock = #6fa26b;
$peppermint = #699e6d;
$mint-green = #487d49;
$poison-green = #4db560;
$vibrant-green = #55a860;
$kelly-green = #339c5e;
$bright-green = #009b5c;
$fern-green = #008c45;
$jelly-bean = #008658;
$amazon = #1f7349;
$green-glow = #b0c965;
$bright-lime-green = #97bc62;
$greenery = #88b04b;
$foliage = #75a14f;
$peridot = #819548;
$meadow-green = #739957;
$woodbine = #7b7f32;
$jade-lime = #a1ca7b;
$herbal-garden = #9cad60;
$leaf-green = #9faf6c;
$parrot-green = #8db051;
$dark-citron = #a0ac4f;
$macaw-green = #9bb53e;
$kiwi = #7aab55;
$sharp-green = #c6ec7a;
$daiquiri-green = #c9d77e;
$wild-lime = #c3d363;
$linden-green = #c4bf71;
$bright-chartreuse = #b5bf50;
$tender-shoots = #b5cc39;
$lime-punch = #c0d725;
$sunny-lime = #dfef87;
$limeade = #d3d95f;
$sulphur-spring = #d5d717;
$citronelle = #b8af23;
$apple-green = #b5b644;
$warm-olive = #c7b63c;
$antique-moss = #b9a023;
$lime-cream = #d7e8bc;
$shadow-lime = #cfe09d;
$lime-sherbet = #cdd78a;
$lettuce-green = #bed38e;
$sap-green = #afcb80;
$opaline-green = #a3c57d;
$winter-pear = #b0b487;
$sylvan-green = #e7eacb;
$glass-green = #ecead0;
$green-essence = #e9eac8;
$ethereal-green = #f1ecca;
$garden-glade = #dcd8a8;
$hay = #d3cca3;
$pale-green = #cbce91;
$young-wheat = #e1e3a9;
$citron = #dfde9b;
$luminary-green = #e3eaa5;
$pale-lime-yellow = #dfe69f;
$chardonnay = #e7df99;
$lima-bean = #e1d590;
$charlock = #e5e790;
$mellow-green = #d5d593;
$shadow-green = #cfc486;
$celery-green = #c5cc7b;
$green-banana = #babc72;
$green-oasis = #b0b454;
$leek-green = #b7b17a;
$weeping-willow = #b3b17b;
$palm = #afaf5e;
$golden-olive = #af9841;
$oasis = #a3a04e;
$moss = #a09d59;
$amber-green = #9a803a;
$ecru-olive = #927b3c;
$green-moss = #857946;
$khaki = #a39264;
$fennel-seed = #998456;
$willow = #9a8b4f;
$bronze-mist = #9c7e41;
$dried-tobacco = #997b38;
$tapenade = #805d24;
$plantation = #7a6332;
$fog-green = #c2cbb4;
$tender-greens = #c5cfb6;
$aloe-wash = #d0d3b7;
$celadon-green = #b5c1a5;
$laurel-green = #adbba1;
$swamp = #a8b197;
$reseda = #a1ad92;
$meadow-mist = #d3dec4;
$butterfly = #cadea5;
$white-jade = #d4dbb2;
$seafoam-green = #cbd5b1;
$reed = #c3d3a8;
$seedling = #c0cba1;
$foam-green = #b4c79c;
$lily-green = #c5cf98;
$beechnut = #c2c18d;
$nile = #b4bb85;
$sweet-pea = #a3a969;
$spinach-green = #909b4c;
$fern = #9aa067;
$green-olive = #8d8b55;
$epsom = #849161;
$grasshopper = #77824a;
$turtle-green = #81894e;
$calliste-green = #757a4e;
$calla-green = #6a6f34;
$cedar-green = #5e6737;
$pesto = #595f34;
$tarragon = #a4ae77;
$sage = #91946e;
$iguana = #818455;
$oil-green = #80856d;
$loden-green = #6e7153;
$capulet-olive = #656344;
$olivine = #666b54;
$lint = #b6ba99;
$pale-olive-green = #b5ad88;
$sage-green = #b2ac88;
$gray-green = #a49a79;
$sponge = #a49775;
$mermaid = #817a65;
$dusky-green = #746c57;
$tea = #999b85;
$silver-sage = #938b78;
$slate-green = #a0987c;
$elm = #a39f86;
$mosstone = #858961;
$aloe = #817a60;
$olive-drab = #756d47;
$cedar = #928e64;
$boa = #8e855f;
$dried-herb = #847a59;
$olive-branch = #646a45;
$lizard = #71643e;
$avocado = #676232;
$fir-green = #67592a;
$bog = #bab696;
$elmwood = #8c7c61;
$gothic-olive = #7c6e4f;
$butternut = #7a643f;
$nutria = #75663e;
$military-olive = #63563b;
$dark-olive = #574d35;
$moss-gray = #afab97;
$abbey-stone = #aba798;
$burnt-olive = #646049;
$dusty-olive = #646356;
$ivy-green = #585442;
$olive-night = #535040;
$grape-leaf = #545144;
$porpoise = #a7a19e;
$satellite = #9f8d89;
$driftwood = #847a75;
$falcon = #6d625b;
$morel = #685c53;
$fallen-rock = #807669;
$vintage-khaki = #9a9186;
$crockery = #a49887;
$greige = #928475;
$desert-taupe = #8d7e71;
$white-pepper = #b6a893;
$humus = #b7a793;
$portabella = #937b6a;
$caribou = #816d5e;
$travertine = #ae997d;
$starfish = #b09a77;
$semolina = #ceb899;
$curds-and-whey = #bca483;
$tigers-eye = #977c61;
$toasted-coconut = #8b6a4f;
$rain-drum = #5f4c40;
$pear-sorbet = #f3eac3;
$pineapple-slice = #e7d391;
$yarrow = #face6d;
$anise-flower = #f4e3b5;
$flan = #f6e3b4;
$sundress = #ebcf89;
$macadamia = #e4cfb6;
$lemon-meringue = #f6e199;
$yellow-iris = #eee78e;
$goldfinch = #f8dc6c;
$lemon-zest = #f9d857;
$solar-power = #f4bf3a;
$samoan-sun = #fbc85f;
$desert-sun = #c87629;
$pumpkin-spice = #a05c17;
$orange-pepper = #df7500;
$marmalade = #c16512;
$hawaiian-sunset = #bb5c14;
$autumnal = #a15325;
$umber = #944a1f;
$exuberance = #e86800;
$puffins-bill = #e95c20;
$caramel-cafe = #864c24;
$gold-flame = #b45422;
$cinnamon-stick = #9b4722;
$potters-clay = #9e4624;
$rooibos-tea = #a23c26;
$celosia-orange = #e8703a;
$orangeade = #e2552c;
$pureed-pumpkin = #c34121;
$tangerine-tango = #dd4124;
$poinciana = #ca3422;
$koi = #d15837;
$samba = #a2242f;
$barbados-cherry = #aa0a27;
$haute-red = #a11729;
$salsa = #aa182b;
$scarlet-sage = #9d202f;
$scooter = #941e32;
$red-dahlia = #7d2027;
$sun-dried-tomato = #752329;
$fired-brick = #6a2e2a;
$rhubarb = #77202f;
$syrah = #6a282c;
$pomegranate = #6c2831;
$cabernet = #64242e;
$ballerina = #f2cfdc;
$fairy-tale = #f2c1d1;
$etherea = #a5958f;
$foxglove = #b98391;
$mesa-rose = #a66e7a;
$jazzy = #b61c50;
$granita = #a52350;
$cherries-jubilee = #a22452;
$cabaret = #cb3373;
$vivacious = #a32857;
$bellflower = #9469a2;
$english-lavendar = #9d7bb0;
$rhapsody = #9f86aa;
$acai = #46295a;
$tillandsia-purple = #563474;
$picasso-lily = #634878;
$mystical = #5f4e72;
$icelandic-blue = #a9adc2;
$aleutian = #9a9eb3;
$silver-bullet = #81839a;
$blue-granite = #717388;
$evening-blue = #2a293e;
$deep-well = #2c2a33;
$night-sky = #2a2a35;
$blue-heron = #96a3c7;
$hydrangea = #849bcc;
$xenon-blue = #b7c0d7;
$brunnera-blue = #9ba9ca;
$sky-captain = #262934;
$navy-blazer = #282d3c;
$dark-sapphire = #262b37;
$plein-air = #bfcad6;
$halogen-blue = #bdc6dc;
$chambray-blue = #9eb4d3;
$bel-air-blue = #819ac1;
$vintage-indigo = #4a556b;
$sodalite-blue = #253668;
$parisian-night = #323441;
$monaco-blue = #274374;
$vallarta-blue = #30658e;
$salute = #282b34;
$outer-space = #2f3441;
$blueberry = #2c333e;
$carbon = #272f38;
$vulcan = #2d3036;
$omphalodes = #b5cedf;
$cool-blue = #a5c5d9;
$bering-sea = #4b5b6e;
$blue-wing-teal = #2c4053;
$poseidon = #123955;
$mykonos-blue = #005780;
$reflecting-pond = #203e4a;
$corydalis-blue = #a9cada;
$blue-topaz = #78bdd4;
$gulf-stream = #88c3d0;
$aquarelle = #61aab1;
$aqua-splash = #85ced1;
$botanical-garden = #12403c;
$scarab = #23312d;
$nimbus-cloud = #d5d5d8;
$micro-chip = #babcc0;
$wet-weather = #929090;
$titanium = #807d7f;
$december-sky = #767275;
$pavement = #524d50;
$magnet = #4d4b4f;
$silver-sconce = #a19fa5;
$silver-filigree = #7f7c81;
$quicksilver = #7e7d88;
$storm-front = #787376;
$tornado = #5e5b60;
$eiffel-tower = #5c5658;
$graphite = #3b3b48;
$alloy = #98979a;
$sleet = #92949b;
$tradewinds = #7f8793;
$grisaille = #585e6f;
$periscope = #46444c;
$quiet-shade = #66676d;
$turbulence = #4e545b;
$stormy-weather = #58646d;
$iron-gate = #4e5055;
$forged-iron = #48464a;
$asphalt = #434447;
$ghost-gray = #9c9b98;
$brushed-nickel = #73706f;
$mourning-dove = #94908b;
$belgian-block = #a3a9a6;
$agave-green = #6b7169;
$cilantro = #43544b;
$pine-grove = #213631;
$eden = #264e36;
$jolly-green = #007844;
$mountain-view = #2e3d30;
$margarita = #b5c38e;
$winter-moss = #5b5a41;
$climbing-ivy = #444940;
$delicioso = #3f352f;
$mulch = #433937;
$mole = #392d2b;
$chocolate-torte = #382e2d;
$ganache = #34292a;
$black-bean = #2e272a;
$espresso = #363031;
$meteorite = #2b2929;
$tap-shoe = #2a2b2d;
$white-alyssum = #efebe7;
$jet-stream = #ede6de;
$sweet-cream = #f0ead6;
$buttercream = #efe0cd;
$lemon-icing = #f6ebc8;
$sugar-swizzle = #f3eee7;
$coconut-milk = #f0ede5;
$yellow-pear = #ece99b;
$sea-salt = #f1e6de;
$brilliant-white = #edf1fe;
$cannoli-cream = #f0efe2;
$tofu = #e8e3d9;
$pistachio-shell = #d7cfbb;
$celandine = #ebdf67;
$lemon-verbena = #f3e779;
$creme-de-peche = #f5d6c6;
$marys-rose = #f7d1d4;
$morganite = #dfcdc6;
$rose-water = #f8e0e7;
$almond-milk = #d6cebe;
$lime-popsicle = #c0db3a;
$golden-kiwi = #f3dd3e;
$meadowlark = #ead94e;
$evening-primrose = #ccdb1e;
$habanero-gold = #fed450;
$minion-yellow = #fed55d;
$soybean = #d2c29d;
$jurassic-gold = #e7aa56;
$brown-rice = #c7bba4;
$peach-quartz = #f5b895;
$peachy-keen = #e2bdb3;
$brazilian-sand = #dacab7;
$pink-salt = #f7cdc7;
$rose-quartz = #f7cac9;
$ballet-slipper = #ebced5;
$cherry-blossom = #f7cee0;
$antarctica = #c6c5c6;
$oyster-mushroom = #c3c6c8;
$tanager-turquoise = #91dce8;
$limpet-shell = #98ddde;
$iced-aqua = #abd3db;
$acid-lime = #badf30;
$spicy-mustard = #d8ae47;
$kumquat = #fbaa4c;
$irish-cream = #c0ac92;
$orange-chiffon = #f9aa7d;
$hazelnut = #cfb095;
$sepia-rose = #d4bab6;
$raindrops = #b1aab3;
$zen-blue = #9fa9be;
$quiet-gray = #b9babd;
$airy-blue = #92b6d5;
$harbor-mist = #afb1b4;
$sea-angel = #98bfca;
$baltic-sea = #79b5db;
$antiqua-sand = #83c2cd;
$island-paradise = #95dee3;
$tibetan-stone = #82c2c7;
$mango-mojito = #d69c2f;
$ginger-root = #bfa58a;
$iced-coffee = #b18f6a;
$autumn-blaze = #d9922e;
$golden-orange = #d7942d;
$porcini = #cca580;
$iceland-poppy = #f4963a;
$papaya = #fea166;
$carrot-curl = #fe8c18;
$turmeric = #fe840e;
$tangelo = #fe7e03;
$fenugreek = #c0916c;
$dusted-clay = #cc7357;
$pastry-shell = #bd8c66;
$blooming-dahlia = #eb9687;
$crocus-petal = #b99bc5;
$purple-rose = #b09fca;
$lilac-breeze = #b3a0c9;
$serenity = #91a8d0;
$crystal-seas = #5dafce;
$golden-lime = #9a9738;
$split-pea = #9c9a40;
$lentil-sprout = #aba44d;
$pure-cashmere = #ada396;
$sun-baked = #d27f63;
$peach-caramel = #c5733d;
$tomato-cream = #c57644;
$orange-tiger = #f96714;
$meerkat = #a46f44;
$exotic-orange = #f96531;
$dragon-fire = #fc642d;
$coral-quartz = #f77464;
$peach-echo = #f7786b;
$purple-dove = #98878c;
$sand-verbena = #9f90c1;
$lilac-gray = #9896a4;
$granada-sky = #5d81bb;
$tree-house = #988c75;
$chai-tea = #b1832f;
$roasted-pecan = #93592b;
$roasted-cashew = #918579;
$winter-twig = #948a7a;
$petrified-oak = #8d7960;
$argan-oil = #8b593e;
$autumn-maple = #c46215;
$sepia-tint = #897560;
$spice-route = #b95b3f;
$scarlet-ibis = #f45520;
$summer-fig = #be4b3b;
$moonscape = #725f69;
$fruit-dove = #ce5b78;
$pink-yarrow = #ce3175;
$toadstool = #988088;
$bodacious = #b76ba3;
$diffused-orchid = #9879a2;
$fairy-wren = #9479af;
$sunlit-allium = #9787bb;
$sharkskin = #838487;
$pale-iris = #8895c5;
$iolite = #707bb4;
$gray-flannel = #848182;
$riverside = #4c6a92;
$quiet-harbor = #5a789a;
$lichen-blue = #5d89b3;
$pacific-coast = #5480ac;
$ibiza-blue = #007cb7;
$navagio-bay = #3183a0;
$barrier-reef = #0084a1;
$guacamole = #797b3a;
$kale = #5a7247;
$mayfly = #65663f;
$twist-of-lime = #4e632c;
$martini-olive = #716a4d;
$emperador = #684832;
$thai-curry = #ab6819;
$honey-ginger = #a86217;
$sugar-almond = #935529;
$spiced-apple = #783937;
$chili-oil = #8e3c36;
$plum-truffle = #675657;
$brandy-brown = #73362a;
$valiant-poppy = #bc322c;
$aura-orange = #b4262a;
$toreador = #b61032;
$lychee = #ba0b32;
$goji-berry = #b91228;
$arctic-dusk = #735b6a;
$ephemera = #6f5965;
$jalapeno-red = #b2103c;
$love-potion = #c01352;
$pink-peacock = #c62168;
$grape-kiss = #7b4368;
$willowherb = #8e4483;
$charisma = #632a60;
$plum-jam = #624076;
$lavender-crystal = #936a98;
$purple-sapphire = #6f4685;
$chive-blossom = #7d5d99;
$purple-corallite = #5a4e8f;
$volcanic-glass = #615c60;
$gray-blue = #4d587a;
$blue-horizon = #4e6482;
$iris-bloom = #5b609e;
$nebulas-blue = #2d62a3;
$indigo-bunting = #006ca9;
$fjord-blue = #007290;
$hawaiian-surf = #0078a7;
$tahitian-tide = #006b7e;
$quetzal-green = #006865;
$granite-gray = #615e5f;
$lush-meadow = #006e51;
$gray-pinstripe = #49494d;
$sea-turtle = #5e5749;
$deep-depths = #46483c;
$kalamata = #5f5b4c;
$crocodile = #5d5348;
$chocolate-plum = #3c2d2e;
$chocolate-lab = #5c3e35;
$shaved-chocolate = #543b35;
$fondue-fudge = #5d4236;
$tiramisu = #634235;
$rocky-road = #5a3e36;
$chicory-coffee = #4a342e;
$smoked-paprika = #6e362c;
$chocolate-fondant = #56352d;
$cherry-mahogany = #66352b;
$merlot = #72262c;
$red-pear = #7b3539;
$pickled-beet = #4d233d;
$plum-caspia = #61224a;
$winter-bloom = #47243b;
$spiced-plum = #6d4773;
$violet-indigo = #3e285c;
$maritime-blue = #27293d;
$obsidian = #3a363b;
$black-beauty = #26262a;
$blackened-pearl = #4d4b50;
$odyssey-gray = #434452;
$black-onyx = #2b272b;
$navy-peony = #223a5e;
$sargasso-sea = #35435a;
$sailor-blue = #0e3a53;
$gibraltar-sea = #123850;
$lapis-blue = #004b8d;
$baleine-blue = #155187;
$galaxy-blue = #2a4b7c;
$blue-opal = #0f3b57;
$moonlit-ocean = #293b4d;
$deep-dive = #29495c;
$crystal-teal = #00637c;
$deep-lagoon = #005265;
$sea-moss = #254445;
$forest-biome = #184a45;
$rain-forest = #15463e;
